.cart-product{
    display: flex;
    width: 80%px;
    margin:0 auto;
    font-size: 18px;
    .cart-left {
        border-right: 1px solid rgb(70, 5, 5);
        padding-right:30px ;
        .shipping-information{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .title-shipping{
            font-size: 35px;
            font-weight: 650;           
            }
            .title-shipping--right{
                display: flex;
                justify-content: flex-end
            }
           
            
        }
        .buyer-information{
            border-radius: 10px;
            border:1px solid #767475;
            padding:7px ;
            font-size:18px ;
            width:100% ;
            margin:8px 0 ;
            min-width: 350px;

        }
        
        .title-pay{
            font-size: 35px;
            font-weight: 650;  
        }
        
        .payments-child{
            border: 1px solid rgba(128, 128, 128, 0.323);
            border-radius:10px ;
            padding: 20px 0;
            display: flex;
            margin: 20px 0;
            width:100% ;
            background-color: white;
            
           
            .payments-child-conten{
                display: flex;
                align-items: center;
                font-weight: 450;                
                margin-left:35px  ;
                width: 100%;
                span{
                    border-radius:100% ;
                    width:20px ;
                    height:20px ;
                    background-color: white;
                    border: 1px solid;
                }
                
                img{
                    width: 50px;
                    height: 30px;  
                             
                }
                .img-check{
                    margin: 0px 20px 0 20px  ;
                }
                .active-button{background-color: rgb(28, 35, 232);}
            }

        }
        .choose-addres{
            display: flex;
            .choose-addres-child{
                width: 100%;
                padding:5px 10px ;
                border-radius:10px ;
            }
        }
        .payments-child:hover{
            border: 1px solid rgb(4, 0, 0);
            
        }
        .active{
            border: 1px solid rgb(4, 0, 0);
            
        }
        .button-pay{
            background-color: black;
            color: white;
            border-radius: 20px;
            border: none;
            padding:15px 0 ;
            font-size: 25px; ;
           
        }
        p {
            color: #bf1650;
          }
          
          p::before {
            display: inline;
            content: "⚠ ";
          }
        
       
    }
    a{text-decoration: none;
    color: black;}
    .cart-right{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left:30px ;
        border-left: 1px solid rgba(0, 0, 0, 0.108);
        
        .title-cart{
            font-size: 35px;
            font-weight: 650; 
        }
        .product-img{
            border-radius:20px ;  
            img{
                width:100% ;
                height: 100%;
                border-radius:20px ;  
            }
            
        }
        .product-detail-right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .product-detail-top{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
               .product-detail-text{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
               }
                .product-detail-name{
                    padding-right: 40px;
                    font-size:20px ;
                    font-weight: 550;
                }
                .product-detail-selected{
                    width: 100%;
                }
                .button-delete{
                    background-color: rgba(255, 0, 0, 0.251);
                    height:30px ;
                    border: none;
                    border-radius: 3px;
                    
                }
                .button-delete:hover{
                    background-color:red ;
                }
            }
            .product-detail-bottom{

                display: flex;
                flex-direction: column;
                gap: 10px;
                .select{
                    border-radius:5px  ;
                    margin-right: 20px ;
                    padding:2px 10px ;
                }
                .quantity-price{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .product-quantity-change{
                        display: flex;
                        gap:20px;
                        background-color:rgb(239, 246, 247);
                        align-items: center;
                        border:1px solid ;
                        padding:2px ;
                        border-radius: 9px;
                        font-size:20px ;
                        font-weight: 700;
                        
                        button{
                            border: none;
                            font-size:20px ;
                            font-weight: 700;
                            
                        }
    
                        .quantity-buy{                       
                           font-weight: 700;
                        }
                       
                    }
                    .price{
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        align-items: center

                    }

                    
                }
                
            }
            .change{
               
                width:100% ;
                .button-change{
                    background-color: aqua;
                    border-radius: 10px;
                    width:50% ;
                    margin: 0px auto ;
                }
            }

        }
        .bill{
           display: flex;
           flex-direction: column;
           gap:20px;
           .bill-child{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
           }
        }
        
        
    }
}