/* header */

header{
  position: fixed;
  width: 100%;
  z-index: 5;
  
  .topbar {
    text-align: center;
    font-weight: 600;
    background-color: #f9f86c;
    line-height: 25px;
    font-size: 13px;
  }
  .navbar {
    background-color: rgb(236, 243, 243);
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin:0 auto ;
    
    .logo img {
      width: 100px;
      height: 40px;
      padding-top: 5px;
    }
    ul {
      margin: 10px 0 8px 0;
      display: flex;
      justify-content: space-between;  
      list-style-type: none;
      padding: 0;
    }  
    a:hover{
      color: #2f42e8;
    }   
    .nav-center{
      a {
        text-decoration: none;
        padding: 0 10px;
        color: black;
        font-weight: 500;
      }
      .hover:hover .dropdown-content {
        display: block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        left: 0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 5;
      }
    }
    .nav-right{
      display: flex;
      align-items: center;
      align-content: center;
      gap: 10px;
      
      button {
        border: none;
        padding:5px 10px ;
        background-color: rgba(236, 243, 243, 0.747);
       
      } 
      button:hover{
        background-color: rgb(72, 72, 211);
       }
      .cart-product{
        position: relative;
        .quantity-product{
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          position: absolute;
          right: -5px;
          top: 0;
          width: 18px;
          height: 18px;
          background-color: #2f5acf;
          color: #fff;
          font-size: 10px;
          font-weight: 700;
          pointer-events: none;
          
        }
      }

      
    }
    
   
  }
}
  /* Menuhearder */
  .menu-header {
    padding: 10px;
    height: 50vh;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    .title {
      color: rgba(2, 0, 0, 0.706);
      font-weight: 600;
    }
    a {
      text-decoration: none;
      color: black;
    }
    .menu-header-column {
      display: flex;
      height: 50vh;
      flex-direction: column;
      flex-wrap: wrap;
      width: auto;
      .menu-header-child {
        display: flex;
        flex-direction: column;

        .child-name {
          font-weight: 600;
          display: flex;
          flex-direction: column;
          .child-name-title {
            display: flex;
            .attention-hot {
              background-color: #e21c16;
              border-radius: 5px;
              padding: 0 10px;
            }
            .attention-sale {
              background-color: rgb(57, 199, 49);
              border-radius: 5px;
              padding: 10px;
            }
            .attention-new {
              background-color: aqua;
              border-radius: 5px;
              padding: 10px;
            }
          }

          .child-product {
            font-weight: 600;
            color: rgba(97, 86, 86, 0.432);
          }
        }
        hr{
          width:'80%';
          color: black;

        }
      }
      .child-attention {
        border-radius: 5px;
        padding: 10px;
      }
    }
  }
.child-explain {
    font-size: 13px;
  }
  .child-product {
    font-weight: 600;
    color: rgba(97, 86, 86, 0.432);
  }
  .child-product:hover {
    color: rgb(0, 89, 255);
  }

  .menu-header-child ul {
    flex-direction: column;
    padding: 0;
    list-style-type: none;
  }



//v·ªÅ coolmate

  .about-cool{     
    display: flex;
    justify-content: space-evenly;
      padding:20px 0 ;
      color: black;
  
  
    .about-cool-child{
      width: 300px;
      
      img{
          width: 300px;
          border-radius: 20px;
      }
      .title{
          font-weight: 600;
          margin: 10px 0;
      }
      span{
          font-size: 14px;
      }
    }
      
    
  }
  
  //login//
  .card-login{    
    .content-login{
      margin: 20px;
    }

  }
  .login-top{
    padding:20px 20px 0 20px ;
    .login-title{
      display: flex;
      justify-content: space-between;
      .title{
        color: blue;
      }
      .close-button{        
        background-color: rgb(245, 237, 237);
        
      }
      .close-button:hover{background-color: #ff0c04;}
    }
    .form{
      display: flex;
    }
  }
  .form-login{
    display: flex;
    flex-direction: column;
    padding:20px 20px 30px 20px ;
    gap:20px ;  
    align-items: center;
    
  }
  .login-input{
    border-radius: 10px;
    padding:7px ;
    font-size:18px ;
    width:100% ;
  }
  .button-login{
    font-size: 20px;
    width:40% ;
    border-radius:10px ;
    background-color: blue;
    color: aliceblue;
  }

  .button-login--now{
    color: #2f42e8;
    border: none;
    background-color:var(--bs-body-bg); ;
  }

//seach//

.container-seach{
  margin: 0 auto;
  margin-top: 40px;
  width: 38%;
  
  .nav-seach{
    display: flex;
    justify-content: center;
    justify-content: space-between;
   
    input{
      max-width: 800px;
      width: 85%;
      border-radius: 10px ;
      padding-left: 20px;
      background-color: white;
    }
    a{
      margin-left: 10px;
      text-decoration: none;
      background-color: #2d41ee;
      color: white;
      padding:5px 10px ;
      border-radius:10px ;
      
    }
    a:hover{
      background-color:#e21c16 ;
    }
  }
 
  .seach-products{
    display: flex;  
    flex-direction: column; 
    background-color: white;
    margin-top:20px ;
    max-width: 800px;
    width: 85%;
    padding: 20px;
    border-radius: 30px;
    .product{

      display:flex;
      max-width: 800px;     
      gap: 10px;
      border-radius: 20px;
      padding-bottom: 0px;
      margin:10px 0 0 0 ;
      padding-left: 10px;

      .product-img{
        width:10% ;
        img{
        width: 100%;
        border-radius:10px ;
        height: 50px;
        }
      }
      .product-title{
        font-size: 15px;
        font-weight: 500;
      }
      .product-pice{
        display: flex;
        gap: 20px;
        .pice{
          text-decoration:line-through;
          color: rgb(157, 149, 149)5, 66, 66;
        }
        .pice-sale{
          color: red;
        }
      }

    }
    
  }
  
  
}
.show-nav-seach{
  margin-top: 10px;
}



