


 
  .category-container {
    position: relative;
    margin-top: 15px;
    width: 100%;
    min-height:500px ;
    
  }
  .second-slogan {
    font-size: 24px;
    margin: 8px auto;
    text-align: center;
    font-weight: bold;
  }
  .category-title {
    
    margin: 0 auto;    
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    gap:3px ;
    justify-content: center;
    .category-name  {
      padding: 0 20px;
      font-weight: bold;    
      padding-bottom: 15px;
      font-size: 18px !important;
      :hover {
        cursor: pointer;
        color: red;
      }
      
    }
    .on-click {
      border-bottom: 2px solid #1877cf;
      color: #1877cf;
    }
    .not-on-click {
      border-bottom: 2px solid rgb(117, 24, 24);
    }
    .tag {
      font-size: 15px;
      padding: 0 5px;
      margin-left: 5px;
      background-color: yellow;
      border-radius: 5px;
      font-weight: bold;
      color: red;
      
     
    }
    
    
  }
 
  .slick-container{
    position: relative;

  }

  
  .image-holder {
    position: relative;
    border-radius: 5%;
    overflow: hidden;
  }
  .item-holder img {
    width: 100%;
    object-fit: cover;
  }
  .slick-next {
    right: 0px !important;
    z-index: 3!important;
    border-radius: 10px;
    margin-right: 5px;
    margin-top:-275px;    
    position: absolute !important;   
    
    
  }
  .slick-prev {
    left: 0px !important;
    z-index: 3 !important;
    border-radius: 10px;
    margin-left: 5px;
    margin-top:250px ;    
    position: absolute !important; 
   
   
    
  }
  .slick-prev::before,
  .slick-next::before {
    color:rgb(192, 25, 25) !important;
    font-size: 20px !important;
  }
  .slick-list {
    width: 95% !important;
    margin: 0 auto !important;
    height: 100% !important;
  }
  .slick-track {
    display: flex !important;
    justify-content: space-between !important;
    gap:10px ;
  }


  
  .slide {
    position: relative;
  }
  .slide img {
    height: 80vh;
    width: 100%;
  }
  .policy {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 3;
    color: aqua;
    display: flex;
    justify-content: space-around;
    span {
      border: solid;
      border-radius: 10px;
      background: #f9f9f9;
      color: rgba(13, 17, 1, 0.766);
      padding: 10px 25px;
    }
  }
 
  
  
  .collections {
    display: flex;
    justify-content: space-evenly;
    gap: 1%;
  }
  .collection {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 22%;
  }
  .collection img:hover {
    scale: 1.2;
    transition: all 0.3s;
  }
  .collection img {
    height: 500px;
    width: 100%;
    transition: all 0.3s;
  }
  .collection-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 32px);
    transform: translate3d(-50%, -50%, 0);
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 16px;
    transition: all 0.3s;
  }
  .marquee {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #000;
    border-radius: 24px;
    color: #fff;
    font-size: 24px;
    height: 65px;
    width: 100%;
    margin-bottom: 8px;
  }
  .marquee a {
    text-decoration: none;
    background-color: #1877cf;
    color: black;
    width: 20%;
    height: 65px;
    border-radius: 24px;
    padding: 12px;
    text-align: center;
  }
  .marquee a:hover {
    color: #f9f9f9;
  }



  .card{
    border-radius: 50px ;
    background-color: rgb(232, 232, 108);
    display: flex;
    flex-direction: row;
    gap: 2%;
    


    img{
       width: 50%;
       border-radius: 50px;
       height:500px ;
    }
    .content{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        flex: 1;
        padding: 70px 40px 80px 60px;
        .title{
            font-size: 3vw;            
        }

        button{
            background-color: aliceblue;
            border-radius: 10px;
            
        }

        div{
            display: flex;
            flex-direction: column;
        }

    }

}
.right{
    flex-direction: row-reverse;
}